In [2]:
import pandas as pd
df=pd.read_excel('datasets\Customer Call List.xlsx')
df

<>:2: SyntaxWarning: invalid escape sequence '\C'
<>:2: SyntaxWarning: invalid escape sequence '\C'
C:\Users\OMEN\AppData\Local\Temp\ipykernel_4536\3297878172.py:2: SyntaxWarning: invalid escape sequence '\C'
  df=pd.read_excel('datasets\Customer Call List.xlsx')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

## 1. Remove Duplicate Records\n,
    \n,
    Identify and remove duplicate customer entries to ensure data integrity.

In [ ]:
df=df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

2-normalizing the first and last name columns (rmoving unwanted carcaters)

In [ ]:
df ['First_Name']= df['First_Name'].str.strip('/._')
df['Last_Name']=df['Last_Name'].str.strip('/._')

C:\Users\OMEN\AppData\Local\Temp\ipykernel_4536\1184316605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df ['First_Name']= df['First_Name'].str.strip('/._')
C:\Users\OMEN\AppData\Local\Temp\ipykernel_4536\1184316605.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Last_Name']=df['Last_Name'].str.strip('/._')

3-giving all the phone numbers the same format xxx-xxx-xxx

In [ ]:
df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]', '', regex=True)

listpn =list(df['Phone_Number'])
listpn1=[]
for j in listpn:
      j=str(j)
      i=3
      while i<len(j):      
            j=j[:i]+'-'+j[i:]
            i+=4
      listpn1.append(j)

df['Phone_Number']=listpn1
df

C:\Users\OMEN\AppData\Local\Temp\ipykernel_4536\2494432379.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]', '', regex=True)
C:\Users\OMEN\AppData\Local\Temp\ipykernel_4536\2494432379.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number']=listpn1

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-542-1,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123-643-977-5,93 West Main Street,No,Yes,False
2,1003,Walter,White,nan,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-234-5,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876-678-346-9,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-246-7,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,nan,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876-678-346-9,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-542-1,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,nan,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,nan,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-234-5,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876-678-346-9,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,304-762-246-7,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-542-1,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123-643-977-5,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,nan,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,Na,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876-678-346-9,"910 Tatooine Road, Tatooine",Yes,N,True

4-splitting the address  column to three features to orgnize our data in a better way keeping our data consistency

In [ ]:
df[['city','street','house']] =df['Address'].str.split(',', n=2, expand=True)

C:\Users\OMEN\AppData\Local\Temp\ipykernel_4536\2390467504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['city','street','house']] =df['Address'].str.split(',', n=2, expand=True)
C:\Users\OMEN\AppData\Local\Temp\ipykernel_4536\2390467504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['city','street','house']] =df['Address'].str.split(',', n=2, expand=True)
C:\Users\OMEN\AppData\Local\Temp\ipykernel_4536\2390467504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['city','street','house']] =df['Address'].str.split(',', n=2, expand=True)

In [ ]:
df['Paying Customer']=df['Paying Customer'].str.replace('Yes','Y')
df['Paying Customer']=df['Paying Customer'].str.replace('No','N')
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('Yes','Y')
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('No','N')

C:\Users\OMEN\AppData\Local\Temp\ipykernel_4536\1437539203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Paying Customer']=df['Paying Customer'].str.replace('Yes','Y')
C:\Users\OMEN\AppData\Local\Temp\ipykernel_4536\1437539203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Paying Customer']=df['Paying Customer'].str.replace('No','N')
C:\Users\OMEN\AppData\Local\Temp\ipykernel_4536\1437539203.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('Yes','Y')
C:\Users\OMEN\AppData\Local\Temp\ipykernel_4536\1437539203.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('No','N')

5- dropping the unusefull features

In [ ]:
df = df.drop(columns='Address')
df = df.drop(columns='Not_Useful_Column')

6-filling our missing values and nulls

In [ ]:
df=df.replace('Na','')
df=df.replace('N/a','')
df.fillna("")

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,city,street,house
0,1001,Frodo,Baggins,123-545-542-1,Y,N,123 Shire Lane,Shire,
1,1002,Abed,Nadir,123-643-977-5,N,Y,93 West Main Street,,
2,1003,Walter,White,nan,N,,298 Drugs Driveway,,
3,1004,Dwight,Schrute,123-543-234-5,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-346-9,Y,N,123 Dragons Road,,
5,1006,Ron,Swanson,304-762-246-7,Y,Y,768 City Parkway,,
6,1007,Jeff,Winger,nan,N,N,1209 South Street,,
7,1008,Sherlock,Holmes,876-678-346-9,N,N,98 Clue Drive,,
8,1009,Gandalf,,,Y,,123 Middle Earth,,
9,1010,Peter,Parker,123-545-542-1,Y,N,25th Main Street,New York,
10,1011,Samwise,Gamgee,nan,Y,N,612 Shire Lane,Shire,
11,1012,Harry,Potter,nan,Y,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,123-543-234-5,Y,N,2039 Main Street,,
13,1014,Leslie,Knope,876-678-346-9,Y,N,343 City Parkway,,
14,1015,Toby,Flenderson,304-762-246-7,N,N,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-542-1,N,N,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-643-977-5,Y,N,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,nan,Y,,3498 Super Lane,,
18,1019,Creed,Braton,,,Y,,,
19,1020,Anakin,Skywalker,876-678-346-9,Y,N,910 Tatooine Road,Tatooine,

7-exporting our new data

In [ ]:
df.to_excel('finaltask.xlsx', index=False)